body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 1920px;
    height: 60px;
    background: #344051;
}

.logo {
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float:left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/Парень.png) 90% 100%/auto 85% no-repeat , url(../img/фон.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #79818d;
    border-image-source: none;
    border-radius: 5px;
    color: #79818d;
    font-size: 12px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.about_me_container h2{
    text-align: center;
/*    border-bottom: 4px solid #d17700;*/
    width: 100%;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
    color: #263244;
    font-weight: bold;
    padding-top: 60px;
    text-transform: uppercase;
}

.about_me_container{
    width: 740px;
    margin: 0 auto;
}
.about_me_container p{
    color: #384357;
    margin-bottom: 40px;
}
.about_me_container img{
    display: block;
    margin: 0 auto;
    padding-top: 60px;
}
.about_me_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.about_me_container p{
    margin-top: 30px;
    
}

.about_me_container .secondText{
    margin-top: 15px;
}

.about_me_container input{
    text-align: center;
    height: 30px;
    width: 150px;
    font-size: 13px;
    border: 2px solid #79818d;
    color: #79818d ;
    border-radius: 5px;
    background: url(../img/иконка.png) no-repeat left;
    margin-left: 290px;
    margin-bottom: 99px;
}

.skills_container h2{
    text-align: center;
    width: 100%;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
    color: #263244;
    font-weight: bold;
    padding-top: 80px;
    text-transform: uppercase;
}

.skills_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.skills{
    background-image: url(../img/картинка\ фона.jpg);
}

.skills_container{
    width: 1090px;
    margin: 0 auto;
}

.skills_item{
    display: inline-block;
    padding: 15px;
    padding-top: 100px;
    padding-bottom: 95px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.skills_item h3{
    padding-top: 35px;
    padding-bottom: 20px;
    color: #ff9100;
    font-weight: bold;
}

.skills_item p{
    color: #3f495a;
    padding-bottom: 20px;
}

.cases_container{
    width: 1170px;
    margin: 0 auto;
}

.cases h2{
    text-align: center;
    width: 100%;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
    color: #263244;
    font-weight: bold;
    padding-top: 110px;
    text-transform: uppercase;
}

.cases_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto;
}

.p1{
    text-align: center;
    padding-top: 40px;
    color: #626976;
    font-weight: 600;
}

.cases img{
    float: right;
    padding-top: 45px;
}

.text1{
    float: left;
    padding-top: 40px;
}

.text1 h3{
    font-weight: bolder;
    font-size: 20px;
    color: #384354;
    text-transform: uppercase;
}


.text1 p{
    color: #525a69;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
}

.project{
    float: right;
    padding-top: 40px;
}


.text1 input{
    height: 45px;
    width: 200px;
    background-color: #63b5ae;
    text-align: center;
    font-size: 15px;
    color: #ffffff ;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 25px;
}

.name_of_project{
    font-weight: bolder;
    font-size: 20px;
    color: #384354;
    text-transform: uppercase;
}

.project p{
    padding-top: 10px;
    font-size: 17px;
    color: #3f495a;
}








